/*[0]GENERAL
[1]NAVIGATION
[2]MAIN CONTENT
[3]ANIMATION
*/

/*[0]GENERAL*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#DC3545;
	background-color: #000;
}
input {
	border-radius: 1%;
	margin: 1%;
	padding: 1%;
	background-color:#000;
	color:#fff;
	border:2px solid #DC3545;
}
ol {
	list-style-type: 1;
}
li {
	font-size: 18px;
	widtH:300px;
	display: inline-block;
}
a {
	font-family: 'Satisfy', cursive;
	color:#DC3545;
}
a:hover {
	color:#FFF;
}
h2, 
li, 
h5 {
	font-family: 'Satisfy', cursive;
}
h5 {
	text-align:center;
}
/*[1]NAVIGATION*/
nav a {
	color:#000;
}
nav a:hover {
	color:#DC3545;
}
p {
	text-align: left;
	text-indent: 10px;
}

/*[2]MAIN CONTENT*/
#introBody {
	color:#fff;
}
#artistInfo {
	color:#000;
}
.links {
	font-size: 16px;
}
/*[3]ANIMATION*/
.pulse {
  animation-duration: 5s !important;
  animation-iteration-count: infinite;
}
.topImages:hover {
	filter: brightness(110%);
}
